<mat-card class='vit'>
    <h1 class='mat-display-3 card-headline'>About me</h1>
    <mat-card-content>
        <p>My name is Daniel Sánchez a twenty year old living in Jalisco, México I’m currently working fulltime as a fullstack developer while I finish a four year degree in Tecnologías de la Información at the Universidad Tecnológica de Jalisco.</p>
        <p>When it comes to my career I consider myself an enthusiast since learning is one of the things I enjoy doing the most, the implicit grow that you feel whenever you are thinkering and experimenting with new tools or even mastering ones you already know is something that I look forward to everyday.</p>
    </mat-card-content>
    <!-- TODO: Download CV -->
</mat-card>