.vitae-card {
    padding: 14px !important;
    max-height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

p {
    padding: 14px;
    text-align: justify;
}

img {
    max-height: 56px;
    border-radius: 100%;
}

.social-media {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.social-media > a {
    margin: 0 5px;
}