<mat-card>
    <div class='vitae-card'>
        <h1 class='mat-display-3'>About me</h1>
        <img src='../../../assets/pp.webp' alt="Profile Picture">
    </div>
    <mat-card-content>
        <p>My name is Daniel Sánchez I was born {{ readableAge(ageInSeconds$ | async) }} and I am currently residing within Jalisco, México working fulltime as a fullstack developer while I finish a four year degree in Tecnologías de la Información at the Universidad Tecnológica de Jalisco.<br><br>When it comes to my career I consider myself an enthusiast since learning is one of the things I enjoy doing the most, the implicit grow that you feel whenever you are thinkering and experimenting with new tools or even mastering ones you already know is something that I look forward to everyday.</p>
    </mat-card-content>
    <div class='social-media'>
        <a mat-stroked-button href="https://github.com/Dani9OO" target="_blank" rel="noopener"><mat-icon svgIcon="github"></mat-icon> GitHub</a>
        <a mat-stroked-button href="https://www.linkedin.com/in/daniel-sánchez-858827199" target="_blank" rel="noopener"><mat-icon svgIcon="linkedin"></mat-icon> LinkedIn</a>
        <a mat-stroked-button href="/assets/cv.pdf" target="_blank"><mat-icon svgIcon="file-document"></mat-icon> CV</a>
    </div>
</mat-card>
