<mat-card>
    <div class='vitae-card'>
        <h1 class='mat-display-3' i18n>About me</h1>
        <a href="/assets/fullpp.webp" target="_blank"><img [class.mat-elevation-z3]="true" src='../../../assets/pp.webp' alt="Profile Picture"></a>
    </div>
    <mat-card-content>
        <p i18n>
          My name is Daniel Sánchez I was born
          {{ (ageDuration$ | async)?.years }}
          {{ (ageDuration$ | async)?.years | i18nPlural: {
            '=0': durationStrings.plural.year,
            '=1': durationStrings.singular.year,
            'other': durationStrings.plural.year
          } }},
          {{ (ageDuration$ | async)?.months}}
          {{ (ageDuration$ | async)?.months | i18nPlural: {
            '=0': durationStrings.plural.month,
            '=1': durationStrings.singular.month,
            'other': durationStrings.plural.month
          } }}
          {{ (ageDuration$ | async)?.days}}
          {{ (ageDuration$ | async)?.days | i18nPlural: {
            '=0': durationStrings.plural.day,
            '=1': durationStrings.singular.day,
            'other': durationStrings.plural.day
          } }}
          {{ (ageDuration$ | async)?.hours}}
          {{ (ageDuration$ | async)?.hours | i18nPlural: {
            '=0': durationStrings.plural.hour,
            '=1': durationStrings.singular.hour,
            'other': durationStrings.plural.hour
          } }}
          {{ (ageDuration$ | async)?.minutes}}
          {{ (ageDuration$ | async)?.minutes | i18nPlural: {
            '=0': durationStrings.plural.minute,
            '=1': durationStrings.singular.minute,
            'other': durationStrings.plural.minute
          } }}
          {{ (ageDuration$ | async)?.seconds }}
          {{ (ageDuration$ | async)?.seconds | i18nPlural: {
            '=0': durationStrings.plural.second,
            '=1': durationStrings.singular.second,
            'other': durationStrings.plural.second
          } }}
          ago and I am currently residing within Jalisco, México
          working fulltime as a fullstack developer while I finish
          a four year degree in Software Development at the
          Technological University of Jalisco.
        </p>
        <p i18n>
          When it comes to my career I consider myself an enthusiast
          since learning is one of the things I enjoy doing the most,
          the implicit grow that you feel whenever you are thinkering
          and experimenting with new tools or even mastering ones
          you already know is something that I look forward to everyday.
        </p>
    </mat-card-content>
    <div class='social-media'>
        <a mat-stroked-button href="https://github.com/Dani9OO" target="_blank" rel="noopener"><i class="mdi mdi-github"></i> GitHub</a>
        <a mat-stroked-button href="https://www.linkedin.com/in/daniel-sánchez-858827199" target="_blank" rel="noopener"><i class="mdi mdi-linkedin"></i> LinkedIn</a>
        <a mat-stroked-button href="/assets/cv.pdf" target="_blank"><i class="mdi mdi-file-document"></i> CV</a>
    </div>
</mat-card>
