<mat-card>
  <div class="vitae-card">
    <h1 class="mat-display-3">Skills</h1>
  </div>
  <mat-card-content>
    <div *ngFor="let skill of skills$ | async">
        <mat-icon svgIcon="{{ skill.icon }}" class="language-icon"></mat-icon>
        <div>
            <div>{{ skill.language }}</div>
            <mat-icon svgIcon="star-half-full" *ngIf="skill.expertise === 0.5"></mat-icon>
            <mat-icon svgIcon="star" *ngIf="skill.expertise >= 1"></mat-icon>
            <mat-icon svgIcon="star-outline" *ngIf="skill.expertise < 0.5"></mat-icon>
            <mat-icon svgIcon="star-half-full" *ngIf="skill.expertise === 1.5"></mat-icon>
            <mat-icon svgIcon="star" *ngIf="skill.expertise >= 2"></mat-icon>
            <mat-icon svgIcon="star-outline" *ngIf="skill.expertise < 1.5"></mat-icon>
            <mat-icon svgIcon="star-half-full" *ngIf="skill.expertise === 2.5"></mat-icon>
            <mat-icon svgIcon="star" *ngIf="skill.expertise >= 3"></mat-icon>
            <mat-icon svgIcon="star-outline" *ngIf="skill.expertise < 2.5"></mat-icon>
            <mat-icon svgIcon="star-half-full" *ngIf="skill.expertise === 3.5"></mat-icon>
            <mat-icon svgIcon="star" *ngIf="skill.expertise >= 4"></mat-icon>
            <mat-icon svgIcon="star-outline" *ngIf="skill.expertise < 3.5 "></mat-icon>
            <mat-icon svgIcon="star-half-full" *ngIf="skill.expertise === 4.5"></mat-icon>
            <mat-icon svgIcon="star" *ngIf="skill.expertise === 5"></mat-icon>
            <mat-icon svgIcon="star-outline" *ngIf="skill.expertise < 4.5 "></mat-icon>
        </div>
    </div>
    <!-- <mat-list>
      <mat-list-item *ngFor="let skill of skills$ | async">
        <mat-icon svgIcon="{{ skill.icon }}" mat-list-icon></mat-icon>
        <div mat-line>{{ skill.language }}</div>
        <div mat-line>
            <mat-icon svgIcon="star-half-full" *ngIf="skill.expertise === 0.5"></mat-icon>
            <mat-icon svgIcon="star" *ngIf="skill.expertise >= 1"></mat-icon>
            <mat-icon svgIcon="star-outline" *ngIf="skill.expertise < 0.5"></mat-icon>
            <mat-icon svgIcon="star-half-full" *ngIf="skill.expertise === 1.5"></mat-icon>
            <mat-icon svgIcon="star" *ngIf="skill.expertise >= 2"></mat-icon>
            <mat-icon svgIcon="star-outline" *ngIf="skill.expertise < 1.5"></mat-icon>
            <mat-icon svgIcon="star-half-full" *ngIf="skill.expertise === 2.5"></mat-icon>
            <mat-icon svgIcon="star" *ngIf="skill.expertise >= 3"></mat-icon>
            <mat-icon svgIcon="star-outline" *ngIf="skill.expertise < 2.5"></mat-icon>
            <mat-icon svgIcon="star-half-full" *ngIf="skill.expertise === 3.5"></mat-icon>
            <mat-icon svgIcon="star" *ngIf="skill.expertise >= 4"></mat-icon>
            <mat-icon svgIcon="star-outline" *ngIf="skill.expertise < 3.5 "></mat-icon>
            <mat-icon svgIcon="star-half-full" *ngIf="skill.expertise === 4.5"></mat-icon>
            <mat-icon svgIcon="star" *ngIf="skill.expertise === 5"></mat-icon>
            <mat-icon svgIcon="star-outline" *ngIf="skill.expertise < 4.5 "></mat-icon>
        </div>
      </mat-list-item>
    </mat-list> -->
  </mat-card-content>
</mat-card>
