<div>
  <div class="mat-display-1 h4" i18n>Business Inquiries</div>
  <div>
    <form [formGroup]="form">
      <div class="max-width">
        <mat-form-field appearance="outline">
          <mat-label i18n>Name</mat-label>
          <input matInput placeholder="Provide your forename" [formControl]="name" i18n-placeholder/>
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label i18n>Email</mat-label>
          <input matInput placeholder="I will be contacting you using this medium" [formControl]="email" i18n-placeholder/>
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
      </div>
      <mat-form-field appearance="outline" class="max-width">
        <mat-label i18n>Inquiry</mat-label>
        <textarea matInput placeholder="Your message" [formControl]="inquiry" i18n-placeholder></textarea>
        <!--  <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
      <div *ngIf="(timeLeft$ | async) as timeLeft; else default" >
        <button mat-raised-button color="primary" *ngIf="!form.valid && timeLeft === 0" disabled>
          <i class="mdi mdi-send"></i> <span class="cdk-visually-hidden" i18n>Send</span>
        </button>
        <button mat-raised-button color="primary" *ngIf="timeLeft !== 0" disabled>
          {{ timeLeft }}
        </button>
        <button mat-raised-button color="primary" *ngIf="form.valid && timeLeft === 0" (click)="submit(form.value)">
          <i class="mdi mdi-send"></i> <span class="cdk-visually-hidden" i18n>Send</span>
        </button>
      </div>
      <ng-template #default >
        <button mat-raised-button color="primary" *ngIf="!form.valid" disabled>
          <i class="mdi mdi-send"></i> <span class="cdk-visually-hidden" i18n>Send</span>
        </button>
        <button mat-raised-button color="primary" *ngIf="form.valid" (click)="submit(form.value)">
          <i class="mdi mdi-send"></i> <span class="cdk-visually-hidden" i18n>Send</span>
        </button>
      </ng-template>
    </form>
  </div>
</div>
