<div class= "main">
    <div class="left" [@zoomIn]>
        <div class='max-width'>
            <app-about-me></app-about-me>
        </div>
        <div class='max-width'>
            <app-skills></app-skills>
        </div>
        <div class='max-width'>
            <app-portfolio></app-portfolio>
        </div>
    </div>
    <div class="right" [@fade]>
        <div>
            <img src="../../assets/buddy.svg" alt="Welcoming person with pink hair wearing a cyan t-shirt">
            <h1 class="mat-display-4">Vitae</h1>
            <span class="mat-display-1 h4" i18n>Identity and Career.</span>
            <div class="powered">
                <p class="vitae-caption" i18n>Powered by</p>
                <div>
                    <div><i class="mdi mdi-angular" alt="Angular" (click)="newTab('https://angular.io')"></i></div>
                    <div><i class="mdi mdi-material-design" alt="Material Design" (click)="newTab('https://material.io')"></i></div>
                    <div><i class="mdi mdi-language-typescript" alt="Typescript" (click)="newTab('https://www.typescriptlang.org')"></i></div>
                    <div><i class="mdi mdi-aws" alt="Amazon Web Services" (click)="newTab('https://aws.amazon.com/')"></i></div>
                    <div><i class="mdi mdi-nodejs" alt="NodeJS" (click)="newTab('https://nodejs.org')"></i></div>
                    <div><i class="mdi mdi-leaf" alt="MongoDB" (click)="newTab('https://www.mongodb.com')"></i></div>
                    <div><i class="mdi mdi-github" alt="GitHub" (click)="newTab('https://github.com')"></i></div>
                </div>
                <p class="vitae-caption" i18n>Developed by Dani9oo</p>
            </div>
        </div>
        <div class='max-width'>
            <app-contact class='max-width'></app-contact>
        </div>
    </div>
</div>
