<div class= "main">
    <div class="left" [@zoomIn]>
        <div class='max-width'>
            <app-about-me></app-about-me>
        </div>
        <div class='max-width'>
            <app-skills></app-skills>
        </div>
        <div class='max-width'>
            <app-portfolio></app-portfolio>
        </div>
    </div>
    <div class="right" [@fade]>
        <div>
            <img src="../../assets/buddy.svg" alt="Welcoming person with pink hair wearing a cyan t-shirt">
            <h1 class="mat-display-4">Vitae</h1>
            <span class="mat-display-1 h4" i18n>Identity and Career.</span>
            <div class="powered">
                <p class="vitae-caption" i18n>Powered by</p>
                <div>
                    <img src="../../assets/poweredby/angular.svg" alt="Angular" (click)="newTab('https://angular.io')">
                    <img src="../../assets/poweredby/material-design.svg" alt="Material Design" (click)="newTab('https://material.io')">
                    <img src="../../assets/poweredby/language-typescript.svg" alt="Typescript" (click)="newTab('https://www.typescriptlang.org')">
                    <img src="../../assets/poweredby/aws.svg" alt="Amazon Web Services" (click)="newTab('https://aws.amazon.com/')">
                    <img src="../../assets/poweredby/nodejs.svg" alt="NodeJS" (click)="newTab('https://nodejs.org')">
                    <img src="../../assets/poweredby/leaf.svg" alt="MongoDB" (click)="newTab('https://www.mongodb.com')">
                    <img src="../../assets/poweredby/github.svg" alt="GitHub" (click)="newTab('https://github.com')">
                </div>
                <p class="vitae-caption" i18n>Developed by Dani9oo</p>
            </div>
        </div>
        <div class='max-width'>
            <app-contact class='max-width'></app-contact>
        </div>
    </div>
</div>
