<mat-card>
  <div class="vitae-card">
    <h1 class="mat-display-3" i18n>Portfolio</h1>
  </div>
  <mat-progress-bar *ngIf="(projects$ | async)?.length === 0" mode="query">Loading...</mat-progress-bar>
  <mat-card-content>
    <div *ngFor="let project of projects$ | async">
      <div [class.mat-elevation-z3]="true" class="image" style="background-image: url({{project.image}});"></div>
      <div class="overlay">
        <div class="content">
          <h1 class='mat-headline'><a href="{{project.url}}" target="_blank">{{ project.title }}</a></h1>
          <p>{{ project.summary }}</p>
          <i class="mdi mdi-github" (click)='newTab(project.repository)'></i>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
